$gutter: 15px;
$columns: 12;

@mixin createColumns($prefix, $columns, $gutter) {
  @for $i from 1 through $columns {
    #{$prefix + $i} {
      flex-basis: $i / $columns * 100%;
      width: $i / $columns * 100%;
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter;
  margin-right: $gutter;
}

.col {
  flex-grow: 1;
  padding-left: $gutter;
  padding-right: $gutter;
}

@include createColumns(".col-", $columns, $gutter);

@media (min-width: 576px) {
  @include createColumns(".col-sm-", $columns, $gutter);
}

@media (min-width: 768px) {
  @include createColumns(".col-md-", $columns, $gutter);
}

@media (min-width: 992px) {
  @include createColumns(".col-lg-", $columns, $gutter);
}

@media (min-width: 1200px) {
  @include createColumns(".col-xl-", $columns, $gutter);
}
